In [1]:
# Comandos úteis do Pandas
# Objetivos: conhecer alguns comandos simples e úteis como
# head() – que mostra as primeiras linhas do dataframe,
# describe() – que calcula a média, o desvio padrão e os
# percentis do dataframe criado, entre outros.

In [2]:
import pandas as pd

In [3]:
alunosDic = {'nomes':['ricado','pedro','joão','afonso'],'nota':[4,5.5,8,9],'aprovados':['não','não','sim','sim']}
alunosdf = pd.DataFrame( alunosDic)

In [4]:
print(alunosdf)

    nomes  nota aprovados
0  ricado   4.0       não
1   pedro   5.5       não
2    joão   8.0       sim
3  afonso   9.0       sim

In [5]:
print(alunosDic)

{'nomes': ['ricado', 'pedro', 'joão', 'afonso'], 'nota': [4, 5.5, 8, 9], 'aprovados': ['não', 'não', 'sim', 'sim']}

In [6]:
alunosdf.head() #nesse comando nos mostra as primeiras linhas desse DataFrame

    nomes  nota aprovados
0  ricado   4.0       não
1   pedro   5.5       não
2    joão   8.0       sim
3  afonso   9.0       sim

In [7]:

alunosdf.shape # nos mostra nesse comando shape a quantidade de linhas e colunas

(4, 3)

In [8]:
alunosdf.describe()# nesse comando informa a quantidade de dados, desvio padrão,nos mostra a media desses dados ,valor minimo , percentil minino,maximo.

           nota
count  4.000000
mean   6.625000
std    2.286737
min    4.000000
25%    5.125000
50%    6.750000
75%    8.250000
max    9.000000

In [9]:
#Filtrando linhas e colunas no Pandas
#Objetivos: aprender como realizar buscas e atribuições específicas com linhas e
#com colunas nos dataframes criados com o pacote Pandas. Essas técnicas são
#também conhecidas como slicing (do inglês “fatiamento”).

In [10]:
alunosdf['nomes']

0    ricado
1     pedro
2      joão
3    afonso
Name: nomes, dtype: object

In [11]:
alunosdf['nota']

0    4.0
1    5.5
2    8.0
3    9.0
Name: nota, dtype: float64

In [12]:
alunosdf['aprovados']

0    não
1    não
2    sim
3    sim
Name: aprovados, dtype: object

In [13]:
alunosdf.loc[[]] #nesse comando eu encontro o nome das colunas#

Empty DataFrame
Columns: [nomes, nota, aprovados]
Index: []

In [14]:
alunosdf.loc[[0,2]] # posso também execultar o numero de linhas e colunas

    nomes  nota aprovados
0  ricado   4.0       não
2    joão   8.0       sim

In [16]:
alunosdf.loc[0:2] #posso localiza todas as linha e colunas usando a função "loc"

    nomes  nota aprovados
0  ricado   4.0       não
1   pedro   5.5       não
2    joão   8.0       sim

In [17]:
alunosdf.loc[ alunosdf['nomes'] == 'afonso']# nesse formato voce traz apenas a linha que tem o nome - nota - aprovado

    nomes  nota aprovados
3  afonso   9.0       sim

In [18]:
alunosdf.loc[ alunosdf['aprovados'] == 'sim']

    nomes  nota aprovados
2    joão   8.0       sim
3  afonso   9.0       sim